<div class="dcenter">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img style="height: 400px;" src="../../assets/donationimage1.jpg">
        </ng-template>
        <ng-template carouselSlide>
            <img style="height: 400px;" src="../../assets/donationimage2.jpg">
        </ng-template>
        <ng-template carouselSlide>
            <img style="height: 400px;" src="../../assets/donationimage3.jpg">
        </ng-template>
    </owl-carousel-o>
</div>