<app-nextmspinner *ngIf="spinner"  [spinnerTime]="spinnerTime" (spinnerEvent)="spinner = false"></app-nextmspinner>

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo-container">
          <img src="../../assets/logo1.jpg" alt="" class="logo" (click)="MenuClk('home')">

        </div>


      </div>
      <div class="col-md-9 col-sm-9 col-9 text-center" style="display: flex; flex-direction: row; ">
        <div style="display: flex;flex-wrap: wrap;gap: 15rem; margin-top: 35px;">
          <h3>Nextium Fundraiser </h3>
        </div>
        <div class="desktop-menu" style="display: flex;flex-wrap: wrap; gap:10rem;margin-top: 50px;">
          <div>
            <ul>
              <li (click)="MenuClk('home')"><a id="homeid" class="{{homeactive}}">Home</a></li>
              <li (click)="MenuClk('about')"><a class="{{aboutactive}}">About Us</a></li>
              <li (click)="MenuClk('cause')"><a class="{{causeactive}}">Cause</a></li>
              <li (click)="MenuClk('donatenow')"><a class="{{donateactive}}">Donate Now</a></li>
              <li (click)="MenuClk('Recievedonation')"><a class="{{recieveactive}}">Recieve Donations</a></li>

              <div class="dropdown1 d-none">
                <button class="dropdown-toggle menu" data-toggle="dropdown">Menu
                  <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a>Page 1-1</a></li>
                  <li><a>Page 1-2</a></li>
                  <li><a>Page 1-3</a></li>
                </ul>
              </div>
            </ul>
          </div>





        </div>
      </div>

    </div>

    <div *ngIf="usernametrue" style="margin-left: 74%;margin-top: -59px;">
      <span class="dot"></span>
      <h4 style="color: aliceblue;margin-top: -33px;margin-left: 102px;  font-family: Kalam, cursive;">{{loginuserName}}
      </h4>
      <button type="button" style="margin-left: 76px;" data-mdb-button-init data-mdb-ripple-init
        class="btn btn-info btn-rounded" id="logoutid" (click)="logotclk()">Log Out</button>
    </div>

  </div>




  <div *ngIf="usernametrue == false" style="  margin-left: 80%;margin-top: -42px;">
    <!-- Button trigger modal -->
    <button id="signinid" type="button" class="btn btn-primary btnsshow" (click)="signinnavclk()">
      Sign In
    </button>
    <button id="signupid" type="button" class="btn btn-primary btnsshow" (click)="signupnavclk()">
      Sign Up
    </button>
  </div>

</header>


<!-- Sign in  Modal -->
<div class="modal fade" id="signinmodal" tabindex="-1" data-backdrop="static" data-keyboard="false"
  aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Sign In</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="MenuClk('home')"></button>
      </div>
      <div class="modal-body p-4">
        <form [formGroup]="loginForm">
          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form2Example1"> User Name or Email</label>
            <input type="email" id="form2Example1" style="border-color: black;" placeholder="Enter email"
              class="form-control" formControlName="loginemail" />
            <!-- <div class="text-danger" *ngIf="loginmailerr">Email Address required!</div> -->
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Password</label>
            <input [type]="changetype?'password':'text'" id="form2Example2" style="border-color: black;"
              placeholder="Enter password" class="form-control" formControlName="loginpassword" />
            <span style="position: absolute; right: 38px;top: 156px; cursor: pointer;"
              (click)="viewpswrd()"><i [ngClass]="visible?'bi bi-eye' : 'bi bi-eye-slash'"></i></span>
            <!-- <div *ngIf="loginpswrderr" class="text-danger">Password is required!</div> -->
          </div>

          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" style="border-color: aqua;" type="checkbox" value=""
                  id="form2Example31" />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
              </div>
            </div>

            <div class="col">
              <!-- Simple link -->
              <a class="frgt" (click)="forgotclk()">Forgot password?</a>
            </div>
          </div>
          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4 signin"
            (click)="signinclk()">Sign in</button>
          <div style="margin-left: 86px;margin-top: -30px;">
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
              <a class="registr" (click)="registerclk()">Register</a>
            </p>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>

<!-- Sign up  Modal -->
<div class="modal fade" id="signupmodal" tabindex="-1" data-backdrop="static" data-keyboard="false"
  aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Sign up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="MenuClk('home')"></button>
      </div>
      <div class="modal-body p-4">
        <form class="mx-1 mx-md-4" [formGroup]="regForm">
          <div class="d-flex flex-row align-items-center mb-4" style="margin-top: -18px;">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div data-mdb-input-init class="form-outline flex-fill mb-0">
              <label class="form-label" for="formfirstname">First Name</label>
              <input type="text" id="formfirstname" style="border-color: black;" placeholder="Enter First Name"
                class="form-control" formControlName="firstName" />
              <div class="text-danger" *ngIf="firstnameerror">First name is required!</div>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4" style="margin-top: -14px;">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div data-mdb-input-init class="form-outline flex-fill mb-0">
              <label class="form-label" for="formlastname">Last Name</label>
              <input type="text" id="formlastname" style="border-color: black;" placeholder="Enter Last Name"
                class="form-control" formControlName="lastName" />
              <div class="text-danger" *ngIf="lastnameerror">Last name is required!</div>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4" style="margin-top: -14px;">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div data-mdb-input-init class="form-outline flex-fill mb-0">
              <label class="form-label" for="formusername">User Name</label>
              <input type="text" id="formusername" style="border-color: black;" placeholder="Enter User Name"
                class="form-control" formControlName="UserName" />
              <div class="text-danger" *ngIf="usernameerror">User name is required!</div>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4" style="margin-top: -14px;">
            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
            <div data-mdb-input-init class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example3c">User Email</label>
              <input type="email" id="form3Example3c" style="border-color: black;" placeholder="Enter User Email"
                class="form-control" formControlName="Useremail" />
              <div class="text-danger" *ngIf="emailerror">User Email is required!</div>
              <div class="text-danger" *ngIf="emailerror==false && invalidmailerror">Enter Valid Email</div>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4" style="margin-top: -14px;">
            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
            <div data-mdb-input-init class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example4c">Password</label>
              <input [type]="changetype1?'password':'text'" id="form3Example4c" style="border-color: black;"
                placeholder="Enter Password" class="form-control" formControlName="Userpassword" />
              <!-- <span class="" style="position: absolute; right: 71px; top: 365px; cursor: pointer;"
                (click)="viewpswrd1()"><i [ngClass]="visible1?'bi bi-eye' : 'bi bi-eye-slash'"></i></span> -->
                <input type="checkbox" id="shwoswdchk" (click)="viewpswrd1()">Show Password
              <div class="text-danger" *ngIf="passworderror"> password is required!</div>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4" style="margin-top: -14px;">
            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
            <div data-mdb-input-init class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example4cd">Repeat your password</label>
              <input [type]="changetype2?'password':'text'" id="form3Example4cd" style="border-color: black;"
                placeholder="Repeat Your Password" class="form-control" formControlName="Repeatpassword" />
              <!-- <span class="" style="position: absolute;right: 68px;top: 70%;cursor: pointer;" (click)="viewpswrd2()"><i
                  [ngClass]="visible2?'bi bi-eye' : 'bi bi-eye-slash'"></i></span> -->
                  <input type="checkbox" id="showrpswd" (click)="viewpswrd2()">Show Password
              <div class="text-danger" *ngIf="reppaswrderror">Repeat password is required!</div>
              <div class="text-danger" *ngIf="samepasserror">Password should be same</div>
            </div>
          </div>

          <div class="form-check d-flex justify-content-center mb-5">
            <input class="form-check-input me-2" type="checkbox" style="border-color: aqua;" value=""
              id="form2Example3" />
            <label class="form-check-label" for="form2Example3">
              I agree all statements in <a class="terms">Terms of service</a>
            </label>
          </div>

          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4" style=" margin-top: -36px;">
            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
              (click)="signupclk()">Sign Up</button>
          </div>

        </form>


      </div>
    </div>
  </div>
</div>

<!-- Forgot password Modal -->
<div class="modal fade" id="forgotmodal" tabindex="-1" data-backdrop="static" data-keyboard="false"
  aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel3">Find Your Account</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="MenuClk('home')"></button>
      </div>
      <div class="modal-body p-4">
        <form>
          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="forgtinp"> Enter your user name or email address</label>
            <input type="email" id="forgtinp" style="border-color: black;" placeholder="Enter email or username"
              class="form-control" [formControl]="forgtinputcntrl" />
            <div class="text-danger" *ngIf="frgteror">Please fill the input field</div>
            <p></p>
          </div>

          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4 signin"
            (click)="continueclk()">Continue</button>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- Reset password modal -->
<div class="modal fade" id="paswrdResetmodal" tabindex="-1" data-backdrop="static" data-keyboard="false"
  aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel3">Password Reset For</h4><br>
        <div>
          <p style="margin-left: 12px;margin-bottom: 0rem;">{{usermail}}</p>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="MenuClk('home')"></button>
      </div>
      <div class="card-body px-5" style="margin-bottom:30px ;">
        <div data-mdb-input-init class="form-outline">
          <label class="form-label" style="margin-bottom: 0rem;" for="pasww">Enter new password</label>
          <input [type]="changetype3?'password':'text'" id="pasww" class="form-control my-3"
            [formControl]="newpswdCntrl" />
          <span class="" style="position: absolute; right: 71px; top: 115px; cursor: pointer;" (click)="viewpswrd3()"><i
              [ngClass]="visible3?'bi bi-eye' : 'bi bi-eye-slash'"></i></span>
        </div>
        <div data-mdb-input-init class="form-outline">
          <label class="form-label" style="margin-bottom: 0rem;" for="newpasww">Repeat new password</label>
          <input [type]="changetype4?'password':'text'" id="newpasww" class="form-control my-3"
            [formControl]="repeatpaswrdCntrl" />
          <span class="" style="position: absolute; right: 71px; top: 207px; cursor: pointer;" (click)="viewpswrd4()"><i
              [ngClass]="visible4?'bi bi-eye' : 'bi bi-eye-slash'"></i></span>
        </div>
        <button data-mdb-ripple-init class="btn btn-primary w-100" (click)="resetpaswrd()">Reset password</button>

      </div>

    </div>
  </div>
</div>